/* Geral */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a, a:visited {
    color: #1a0dab;
}

/* Header */

header {
    border-bottom: 1px solid #ebebeb;
}

#input-box {
    padding-top: 20px;
    padding-bottom: 9px;
}

#input-box img {
    width: 92px;
    position: absolute;
    top: 30px;
    left: 20px;
}

#input-box form {
    display: inline-block;
    position: relative;
}

#input-box form input {
    height: 44px;
    border-radius: 22px;
    width: 597px;
    border: 1px solid #dfe1e5;
    padding: 0 21px;
    margin-left: 146px;
    font-size: 16px;
}